@model List<DetailModel>


<table class="table table-bordered">
    <tr>
        <td>Сотрудник</td>
        <td>Код детали</td>
        <td>Наименование детали</td>
        <td>Марка материала</td>
        <td>Объем производственной партии</td>
        <td>Объем передаточной партии</td>
        <td>Масса детали</td>
        <td>Возможность изготовления центровых отверстий</td>
    </tr>

    @foreach (var detail in Model)
    {
        @Html.Action("DetailData", new { detail = detail })
    }
</table>