@{
    ViewBag.Title = "Detail Report";
}

<div class="container-fluid">
    <h1>Отчет по базе деталей</h1>

    @Html.Action("ChooseCompany")

    <section class="detail-table"></section>
</div>

<script>
    var urls = {
        getData : '@Url.Action("GetDetails", "Home")'
    };
</script>