@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExpertChecking</title>
</head>
<body>
    <table border="1">
        <tr>
            <td rowspan=5>Код оборудования</td>
            <td rowspan=5>Код приспособления</td>
            <td rowspan=5>Код технологического перехода</td>
            <td colspan=43>Обрабатываемая поверхность</td>
        </tr>
        <tr>
            <td rowspan=4>Код обрабатываемой поверхности</td>
            <td colspan=23>Предельные размеры обрабатываемой поверхности</td>
            <td colspan=4>Предельно допустимые точностные характеристики и характеристики поверхностного слоя</td>
            <td colspan=11>Геометрическая форма элементарной поверхности (количественное значение для кодов отклонений)</td>
        </tr>
        <tr>
            <td colspan=2>1</td>
            <td colspan=2>2</td>
            <td colspan=2>3</td>
            <td colspan=2>4</td>
            <td colspan=2>5</td>
            <td colspan=2>6</td>
            <td colspan=2>7</td>
            <td colspan=2>8</td>
            <td colspan=2>9</td>
            <td colspan=2>10</td>
            <td colspan=2>11</td>
            <td>12</td>
            <td rowspan=3>Квалитет</td>
            <td colspan=4>Показатели шероховатости</td>
            <td rowspan=3>Твердость HRC</td>
            <td colspan=3>Внутренние напряжения</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
        </tr>
        <tr>
            <td colspan=2>Диаметр меньший</td>
            <td colspan=2>Диаметр больший</td>
            <td colspan=2>Длина</td>
            <td colspan=2>Ширина</td>
            <td colspan=2>Высота</td>
            <td colspan=2>Угол X</td>
            <td colspan=2>Угол Y</td>
            <td colspan=2>Угол Z</td>
            <td colspan=2>Расстояние от плоскости X</td>
            <td colspan=2>Расстояние от плоскости Y</td>
            <td colspan=2>Расстояние от плоскости Z</td>
            <td>Код сложной поверхности</td>
            <td>Ra</td>
            <td>Rmax</td>
            <td>S</td>
            <td>tp</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>от прямо-линейности</td>
            <td>от плоскост-ности</td>
            <td>от круглости</td>
            <td>от цилиндри-чности</td>
            <td>профиля продольного сечения</td>
            <td>Радиальное биение</td>
            <td>Торцевое биение</td>
            <td>Полное радиальное биение</td>
            <td>Полное торцевое биение</td>
            <td>от формы заданного профиля</td>
            <td>от формы заданной поверхности</td>
        </tr>
        <tr>
            <td>min</td>
            <td>max</td>
            <td>min</td>
            <td>max</td>
            <td>min</td>
            <td>max</td>
            <td>min</td>
            <td>max</td>
            <td>min</td>
            <td>max</td>
            <td>min</td>
            <td>max</td>
            <td>min</td>
            <td>max</td>
            <td>min</td>
            <td>max</td>
            <td>min</td>
            <td>max</td>
            <td>min</td>
            <td>max</td>
            <td>min</td>
            <td>max</td>
            <td>код</td>

        </tr>
    </table>
</body>
</html>
