@{
    ViewBag.Title = "Home Page";
}

<h1>Система отчетов</h1>

@Html.ActionLink("Отчет по базе технологических возможностей", "TechBaseReport", null, new { @class = "btn btn-info" })

@if (false)
{
@Html.ActionLink("Отчет по деталям", "DetailReport", null, new { @class = "btn btn-info" })
}